<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/create" class="nav-link active" aria-current="page" href="#">Create</a>
        <a routerLink="/list" class="nav-link" href="#">List</a>
        <a routerLink="/completed" class="nav-link" href="#">Completed</a>
      </div>
    </div>
  </div>
</nav>
